.gameplay-container{
    margin-top: 20px;
}

.player-name-display{
    padding: 10px;
}

.overall-timer {
    font-size: 1.5em; /* Default styling */
  }
  
  .timer-warning {
    color: red;
    font-weight: bold;
  }
  