.game-table {
  border-collapse: collapse;
  margin: 20px auto;
  width: 100%; /* Full width */
  max-width: 600px; /* Limit maximum width */
  height: 600px; /* Adjust height as needed */
  border-radius: 12px; /* Rounded corners */
  overflow: hidden; /* Prevent overflow for rounded corners */
}

.table-cell {
  width: 60px;
  height: 60px;
  text-align: center;
  border: 2px solid #adb5bd;
  position: relative;
  transition: background-color 0.3s ease;
  border-radius: 6px; /* Slightly rounded corners for cells */
}

.table-cell:hover {
  background-color: rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.table-cell.free {
  background-image: url('https://png.pngtree.com/element_our/sm/20180216/sm_5a8637f76b5ff.jpg');
  background-size: cover;
  background-position: center;
}

.table-cell.obstacle {
  background-image: url('https://img.freepik.com/free-photo/red-ceramic-glass-colorful-tiles-mosaic-composition-pattern-background_1258-52340.jpg');
  background-size: cover;
  background-position: center;
  border-color: #e63946;
}

.table-cell.tunnel {
  background-image: url('https://img.freepik.com/free-photo/abstract-bright-green-square-pixel-tile-mosaic-wall-background-texture_1258-72162.jpg');
  background-size: cover;
  background-position: center;
  border-color: #2a9d8f;
}

.thief-image {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: transform 0.2s ease-in-out;
  z-index: 1;
}

.thief-image:hover {
  transform: translate(-50%, -50%) scale(1.2);
}
