/* Cutscene.css */

.cutscene-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-image: url('../../assets/AutumnCutscene.gif');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }

  /* Theme-specific background images */
.cutscene-container.theme-autumn {
  background-image: url('../../assets/map_components/autumn/Cutscene Autumn Theme Before Gameplay.gif');
}

.cutscene-container.theme-summer {
  background-image: url('../../assets/map_components/summer/Cutscene Summer Theme Before Gameplay.gif');
}
.cutscene-container.theme-spring {
  background-image: url('../../assets/map_components/spring/Cutscene Spring Theme Before Gameplay.gif');
}
  

  .cutscene-container button {
    margin-bottom: 20px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .cutscene-container button:hover {
    background-color: rgba(0, 0, 0, 0.9);
  }
  
  .cutscene-container button:focus {
    outline: none;
  } 
  